@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
  font-family: "Sora", serif;
}

.ani{
  background: linear-gradient(90deg, #ff0000,#3cdcccdb,#ff00f3,#0033fe ,#ff00c3cb,#19cbb992,#f31f1fc7);
  background-size: 200%;
  background-clip: text;
  color: transparent;
  animation: text-animation 4s infinite;
}

@keyframes text-animation{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 200%;
  }
}
