@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
  font-family: "Sora", serif;
}

.ani{
  background: linear-gradient(90deg, #00FFFF,#3c63ef90,#F7E7CE,#DC143C ,#00FFFF);
  background-size: 200%;
  background-clip: text;
  color: transparent;
  animation: text-animation 1s infinite;
}

@keyframes text-animation{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 200%;
  }
}
